<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">

{% seo %}
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="bs-page-header outer">
        <header class="inner">
            <div class="bs-page-header__title">The BrightScript syntax highlighting plugin for IntelliJ IDEA</div>
            <div class="bs-page-header__desc">BrightScript is used in Roku devices.</div>
            <div class="bs-page-buttons">
                <div class="button btn-fill">Install</div>
                <div class="button btn-border">GitHub</div>
            </div>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        
        <p class="copyright">Made by <a href="https://interfaced.tv">interfaced.tv</a> with</p>
      
        <p><a href="mailto:info@interfaced.ru">info@interfaced.ru</a></p>
      </footer>
    </div>
  </body>
</html>
